body{
    margin: 0;
    display: block;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    border: none;
    outline: none;
}
.blind{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}
.container_box{
    /* min-width: 980px;
    max-width: 1280px; */
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.border{
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #fff;
}
.clearFix{
    clear: both;
}
.display_none{
    display: none;
}
.c_black{
    color: black;
}